/* Media query for viewport width 500px or greater */
@media (min-width: 500px) {
    header {
        background-color: #000; 
        color: #fff; 
    }

    main {
        grid-template-columns: repeat(2, 1fr); 
    }
}
